<!DOCTYPE html>
<html ng-app="sample-app">
<head>
	<meta charset="utf-8">

	<title>Sample App</title>
	<meta name="description" content="Sample App">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, user-scalable=0">
  <meta http-equiv="cleartype" content="on">

	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body ng-controller="HomeCtrl as home">
    <section>
        <button ng-click="home.changeItems()">Change Items</button>
        <button ng-click="home.changeMode()">Change Mode</button>
    </section>

    <h1>Current Mode: {{ home.mode }}</h1>
    <sf-simple-list items="home.junk" mode="{{home.mode}}" listener="home.adapter"></sf-simple-list>

    <h1>Selected Junk</h1>
    <sf-simple-list items="home.selectedJunk"></sf-simple-list>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-touch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.js"></script>
    <script src="/js/app.js"></script>

</body>
</html>