<!DOCTYPE html>
<html ng-app="sample-app">
<head>
    <meta charset="utf-8">

    <title>Sample App - Phone</title>
    <meta name="description" content="Sample App - Phone">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, user-scalable=0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body ng-controller="TabletCtrl as tablet">

<div class="tablet-container">
    <sf-loading></sf-loading>
    <div class="tablet-screen">
        <header>
            <img class="fl avatar" src="/img/avatar1.png" />
            <span class="owner">{{ tablet.owner.name }}'s Email</span>
            <div class="cb" />
        </header>

        <aside class="sidebar">
            <sf-list items="tablet.emails" listener="tablet.adapter" mode="single">
                <div class="list-item email" ng-click="selectItem(item)" ng-repeat="item in items track by item.id" ng-class="{ selected: isSelected(item) }">
                    <div class="from">{{ item.from }}:</div>
                    <div class="subject">{{ item.subject }}</div>
                </div>
            </sf-list>
        </aside>

        <section class="content" ng-view></section>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-touch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.js"></script>
<script src="/js/app.js"></script>

</body>
</html>